*{
  font-family: Futura;
}

nav{
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-end;
}

#nav1{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

#n1{
  width: 40px;
  height: 7px;
  background-color: #C7C7C7;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

#pic1{
  width: 80px;
}

h1{
  font-size: 40px;
  font-style: italic;
  margin-left: 100px;
  margin-top: -50px;
}

#flex{
  display: flex;
  align-items: center;
  margin: 100px;
  justify-content: space-between;
}

#flex1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  font-size: 30px;
  font-weight: normal;
}

#box1{
  width: 150px;
  height: 50px;
  border: 5px solid black;
  border-bottom: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 5px solid white;
  position: relative;

}

.box2{
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  width: auto;
  border: 5px solid black;
  border-radius: 20px;
  height: auto;
  align-items: center;
}

#i1{
  width: 250px;
  height: 65px;
  margin:2px;
  display: flex;
  align-items: center;
  background-color: #73E0CE;
  border-radius: 20px;
  padding-left: 15px;
}

#box2-1{
  padding-top: 40px;
}

#i1-1{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
  margin-right: 9px;
}

#done{
   background-color: #FFDC1D;
   border-radius: 30px;
   margin: 0;
   padding: 2px;
}

h3{
  margin: 0;
  font-weight: normal;
  font-size: 19px;
}

.i2{
  width:300px;
  height:65px;
  margin:2px;
  display: flex;
  align-items: center;
  background-color: #E5E5E5;
  border-radius: 20px;
  padding-left: 15px;
}

#i3{
  background-color: #F58500;
}

#i4{
  height: 80px;
  width: 250px;
}

#i5{
  background-color: #FF6F6F;
  height: 80px;
  width: 250px;
}

#footer{
  border: 5px solid black;
  width: 100px;
  border-radius: 1d0px;
  transform: rotate(90deg);
  margin-left: -45px;
}
